*.a
*.o
*.exe
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
pawlib/
!pawlib-source/include/pawlib
docs/build
cpgf/build/temp_cache**
*.depend
*.layout
**/build_temp
tester
tester_debug
*.config
!default.config
