*.a
*.o
*.exe
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
**/build
**/build_temp
pawlib/
!pawlib-source/include/pawlib
docs/build
tester
tester_debug
*.config
!default.config
codealike.json
.codelite/
Pawlib.workspace
pawlib.project
.DS_Store
*.kdev4
.vscode/ipch